option_settings:
  # Set environment to Java 21
  aws:elasticbeanstalk:container:java:
    JavaVersion: Corretto 21

  # Configure the environment type
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  # Configure the application port
  aws:elasticbeanstalk:application:environment:
    PORT: 5000
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: prod

  # Configure load balancer if you switch to a load-balanced environment
  aws:elasticbeanstalk:environment:process:default:
    Port: 5000
    Protocol: HTTP
    HealthCheckPath: /actuator/health