option_settings:
  # Use the Docker platform
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  
  # Set the deployment policy
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    IgnoreHealthCheck: false
    Timeout: "600"
  
  # Enable enhanced health reporting
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced